---
import Link from "../components/Link.astro";
import MainLayout from "../layouts/MainLayout.astro";

---

<MainLayout title="About" description="My About Page">
	<section class="container about" aria-label="About Me">
		<img 
			src="/images/headshot.jpg"
			alt="My headshot"
			width="200"
			height="330"
		/>
		<div class="content">
			<h1 class="h1">My Blog</h1>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius voluptas distinctio consequatur molestias unde deleniti sit facilis, ex, reprehenderit pariatur ab. Adipisci esse vel delectus vitae aliquid doloribus minima et.</p>
			<Link 
				href="mailto:yacu72@gmail.com"
				style="primary"
				text="contact me"
			/>
		</div>
	</section>
</MainLayout>