---
const {title, text} = Astro.props
---

<div class="card">
    <h2>{title}</h2>
    <p>{text}</p>
</div>

<style>
    .card {
        padding: 20px;
        border: 1px #CCC solid;
        border-radius: 5px;
        margin: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1)
    }
</style>