---
// library imports
import { Icon } from "astro-icon/components";

// component import
import Link from "./Link.astro"

// Data imports
import navData from "../data/navData.js";
---

<nav aria-label="Primary" >
    <div class="navbar">
        <a href="/" class="logomark" aria-label="Go home" >
            <Icon name="logomark" width={60} />
        </a>
        <ul>
            {
                navData.map((item) => 
                    <Link 
                        href={item.path} 
                        text={item.name} 
                        style="primary" 
                        data-navlink
                        />
                )
            }
        </ul>
    </div>
</nav>

<script>
    import "../js/nav.js"
</script>